{% extends 'shell.html' %}

{% block styling %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='headerfooter.css') }}" />
{% endblock %}

{% block body %}
    <div id="header">
        {% if request.user and request.user.is_authenticated %}
            <p style="float:right">Welcome {{request.user.username}}! <a href="{{ url_for('logout_view') }}">Logout</a></p>
        {% else %}
            <p style="float:right"><a href="{{ url_for('login_view') }}">Sign in</a> or <a href="{{ url_for('register_view') }}">sign up</a>!</p>
        {% endif %}
        
        <div style="float:left">
            <ul class="tabs">
                <li><a href="{{ url_for('home_view') }}">LOGO</a></li>
                <!--<li>Artists</li>-->
                <!--<li>Items</li>
                <li>Tags</li>
                <li>Portfolio</li>
                <li>About</li>-->
            </ul>
        </div>
    </div>
    
    <hr style="clear:both; margin:0"/>
    
    {% block content %}{% endblock %}
    
    <hr style="clear:both; margin:0;"/>
    <div id="footer">
        <p style="width: 90%; margin: 5px auto;">Built and maintained by Starman Innovations.</p>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}