{% extends 'shell.html' %}

{% block styling %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='headerfooter.css') }}" />
{% endblock %}

{% block body %}
    <div id="header">
        {% if session.user %}
            <p style="float:right">Welcome {{ session.user.username }}! <a href="{{ url_for('logout_view') }}">Logout</a></p>
        {% else %}
            <p style="float:right"><a href="{{ url_for('login_view') }}">Sign in</a> or <a href="{{ url_for('register_view') }}">sign up</a>!</p>
        {% endif %}
        
        <div style="float:left">
            <ul class="tabs">
                <li><a href="{{ url_for('home_view') }}">Home</a></li>
            </ul>
        </div>
    </div>
    
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
        <p style="width: 90%; margin: 5px auto;"><strong>Built and maintained by Starman Innovations.</strong></p>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}