{% extends 'headerfooter.html' %}

{% block styling %}
    {{ super() }}
    {# <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}" /> #}
{% endblock %}

{% block content %}
    <h1>Your docs</h1>

    <br/><br/>

    {% if session.user %}
        <ul id="docs">
            {% for doc in docs %}
                <li><a href="{{ url_for('render_view', docid=doc.id) }}">
                    {% if doc.name %}
                        {{ doc.name }}
                    {% else %}
                        <em>Untitled</em>
                    {% endif %}
                </a></li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('new_doc_view') }}">+ New Web</a>
    {% else %}
        <p>Support for anonymous docs eventually!</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}