{% extends 'headerfooter.html' %}

{% block styling %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}

{% block content %}
    <h1>Your webs</h1>

    <br/><br/>

    {% if session.user %}
        <ul id="webs">
            {% for web in webs %}
                <li><a href="{{ url_for('render_view', webid=web.id) }}">
                    {% if web.name %}
                        {{ web.name }}
                    {% else %}
                        <em>Untitled</em>
                    {% endif %}
                </a></li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('new_web_view') }}">+ New Web</a>
    {% else %}
        <p>Support for anonymous webs eventually!</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}