{% extends 'headerfooter.html' %}

{% block content %}
    <h2>Not a member yet?</h2>

    {% from "_formhelpers.html" import render_field %}
    <form method="post">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
        </dl>
        <p><input type="submit" value="Register"/></p>
    </form>
    {% if form_errors %}<p>No can do! {{form_errors}}</p>{% endif %}
    
    <p><em>Meant to <a href="{{ url_for('login_view') }}">sign in</a>?</em></p>
{% endblock %}