{% extends 'headerfooter.html' %}

{% block styling %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='render.css') }}" />
{% endblock %}

{% block content %}
    <input id="docname" type="text" placeholder="Untitled" value="{{ doc.name }}"/><br/>

    <svg id="display"></svg>

    <br/><br/>

    <button id='start'>Start</button>
    <button id='stop'>Stop</button>
    <button id='step'>Step</button>

    <div id="data" hidden>
    	<p>{{doc.json()}}</p>
	</div>
    <pre>{{pretty_json}}</pre>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='models_and_fields.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='render.js') }}"></script>
{% endblock %}