body {
    margin: 0px;
    background-color: #B87333;
    color: #FFF;
    font-family: Helvetica;
}

.error {
    color: red;
}

.help {
    color: blue;
}

.tabs {
    margin: 0px;
    padding: 0px;
}
.tabs li {
    display: inline-block;
    margin: 5px 10px;
    color: #B87333;
    font-weight: bold;
    font-size: 24px;
}

#header {
    height: 110px;
	background-image: -webkit-linear-gradient(to bottom right, #80559a, #1a4929);
	background-image: -o-linear-gradient(to right, #80559a, #1a4929);
	background-image: -moz-linear-gradient(to right, #80559a, #1a4929);
	background-image: linear-gradient(to bottom right, #80559a, #1a4929);
}