body {
    margin: 0px;
    background-color: #DDD;
    color: #000;
    font-family: Helvetica;
}

.error {
    color: red;
}

.help {
    color: blue;
}

.tabs {
    margin: 0px;
    padding: 0px;
}
.tabs li {
    display: inline-block;
    margin: 5px 10px;
    color: #B87333;
    font-weight: bold;
    font-size: 24px;
}

#header, #footer {
    background-color: #CCC;
    padding: 5px;
}
#header {
    height: 40px;
}
#footer {
}

#content {
    margin: 5px;
}
