#main {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

#main > li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    min-width: 300px;
    border: 1px solid white;
    margin: 0 auto;
}

#main h2 {
    text-align: center;
}

#docname {
    font-size: 20pt;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #000;
}
#docname::placeholder {
    color: #000;
    font-style: italic;
}

@media screen and (max-width: 700px) {
    #main > li {
        display: block;
        width: 90%;
        min-width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
